<div>
    <form name="myForm">
        <div>
            </br>
            Text :<input type="text" name="clearText" ng-model="models.clearText" />
            </br>
            Encrypted Text: <input type="text" name="encryptedText" ng-model="models.encryptedText" />
            </br>
            <button name="frm_btn" class="frm_btn" ng-click="getEncryptedText()">Get Encrypted Text</button>
            <button name="frm_btn" class="frm_btn" ng-click="getClearText()">Get Clear Text</button>
            </br>
        </div>
        </br>
        </br>
    </form>
</div>